<!doctype html>
<html>
    <head>
      <meta charset = "utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Uzia</title>
      <link rel="stylesheet" type="text/css" href="/css/slick-theme.css">
      <link rel="stylesheet" type="text/css" href="/css/slick.css">
      <link rel="stylesheet" href="/css/stylesheet.css">
      <link rel="stylesheet" href="/css/responsive.css">
      <script type="text/javascript" src="/js/jquery-2.2.0.min.js"></script>
      <script type="text/javascript" src="/js/slick.min.js"></script>
      <script type="text/javascript" src="/js/slick-script.js"></script>
    </head>

    <body>
        <header>
            <div class = "header_left">
                <a href="/">Pub <br class="br_res">entrance <br class="br_res">uzia</a>
            </div>
            <div class = "header_right">
                <a href="/#menu_btn_list">メニュー</a>
                <a href="/access">アクセス</a>
            </div>
        </header>

        <div class = "main access">
            <div class="map">
                <h1>アクセス</h1>
                <p class="post">〒965-0042</p>
                <p class="address">福島県会津若松市大町２丁目５−３ 1F</p>
                <div class="gmap-wrap">
                    <div class="gmap">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3165.1835369613536!2d139.92741711527765!3d37.5035891354883!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f5!3m3!1m2!1s0x5ff553eb11f99d5d%3A0x8dbf18249061ae53!2suzia!5e0!3m2!1sja!2sjp!4v1631619646734!5m2!1sja!2sjp" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <div class = "footer_left">
              <p>Pub entrance uzia</p>
              <dl class = "shop_data">
                <dt>住所</dt>
                    <dd>〒965-0042 福島県会津若松市大町2丁目5-3</dd>
                <dt>営業時間</dt>
                    <dd>17:00 ~ 2:00(L.O 1:00)</dd>
                <dt>定休日</dt>
                    <dd>日曜日</dd>
                <dt>電話番号</dt>
                    <dd>0242-77-5707</dd>
              </dl>
            </div>
            <div class = "footer_right">
                <ul>
                    <li class="Insta">
                        <a href="https://www.instagram.com/pub.entrance.uzia/" target="_blank" rel="noopener noreferrer">Instagram</a>
                    </li>
                    <li class="Face">
                        <a href="https://www.facebook.com/Pab-entrance-Uzia-103641591640807/" target="_blank" rel="noopener noreferrer">Facebook</a>
                    </li>
                    <li class="twi">
                        <a href="https://twitter.com/uziapub" target="_blank" rel="noopener noreferrer">twitter</a>
                    </li>
                </ul>
            </div>
        </footer>
    </body>
</html>