<!doctype html>
<html>
    <head>
        <meta charset = "utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Uzia</title>
        <link rel="stylesheet" href="/css/stylesheet.css">
        <link rel="stylesheet" href="/css/responsive.css">
        <link rel="stylesheet" href="/css/jquery-ui.css">
        <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="/js/jquery-ui.js"></script>
        <script type="text/javascript" src="/js/suggest-script.js"></script>
    </head>
    <body>
        <header>
            <div class = "header_left">
                <a href="/">Pub <br class="br_res">entrance <br class="br_res">uzia</a>
            </div>
            <div class = "header_right">
                <a href="/#menu_btn_list">メニュー</a>
                <a href="/access">アクセス</a>
            </div>
        </header>

        <footer>
            <div class = "footer_left">
              <p>Pub entrance uzia</p>
              <dl class = "shop_data">
                <dt>住所</dt>
                    <dd>〒965-0042 福島県会津若松市大町2丁目5-3</dd>
                <dt>営業時間</dt>
                    <dd>17:00 ~ 2:00(L.O 1:00)</dd>
                <dt>定休日</dt>
                    <dd>日曜日</dd>
                <dt>電話番号</dt>
                    <dd>0242-77-5707</dd>
              </dl>
            </div>
            <div class = "footer_right">
                <ul>
                    <li class="Insta">
                        <a href="https://www.instagram.com/pub.entrance.uzia/" target="_blank" rel="noopener noreferrer">Instagram</a>
                    </li>
                    <li class="Face">
                        <a href="https://www.facebook.com/Pab-entrance-Uzia-103641591640807/" target="_blank" rel="noopener noreferrer">Facebook</a>
                    </li>
                    <li class="twi">
                        <a href="https://twitter.com/uziapub" target="_blank" rel="noopener noreferrer">twitter</a>
                    </li>
                </ul>
            </div>
        </footer>
    </body>
</html>