@media (max-width:1242px){
    #menu_btn_list{
        display: block;
    }
    .menu_btn{
        width: 100%;
        padding-bottom: 100px;
        margin-bottom: 0px;
    }
}

@media (max-width:863px){

/*--------------------------------------------------------------------------------------------------------------
-------------------------------------------------------header---------------------------------------------------
--------------------------------------------------------------------------------------------------------------*/
    .br_res{
        display: inline;
    }
    .header_left a{
        line-height: 40px;
        font-size: 25px;
    }
    .header_right a{
        padding: 0 10px;
        font-size: 20px;
    }

/*--------------------------------------------------------------------------------------------------------------
-------------------------------------------------------footer---------------------------------------------------
--------------------------------------------------------------------------------------------------------------*/
    footer{
        height: auto;
    }
    footer p{
        text-align: center;
    }
    .footer_left dl{
        float: none;
        margin-left: 65px;
    }
    .footer_left dd{
        margin-left: 1.5em;
        margin-bottom: 5px;
        font-size: 19px;
    }
    .footer_right{
        float: none;
        text-align: center;
    }
    .footer_right li{
        display: inline-block;
    }

/*--------------------------------------------------------------------------------------------------------------
-------------------------------------------------------top.ejs--------------------------------------------------
--------------------------------------------------------------------------------------------------------------*/

    #intro{
        font-size: 25px;
    }
    #intro img{
        height: 272px;
    }

    .kokuban{
        text-align: left;
    }
    .slideshow_bg{
        background-image: url(/images/test2.png);
        background-size: cover;
        height: 500px;
        background-blend-mode:lighten;
    }
    .sliderArea {
        max-width: 400px;
        padding: 170px 25px 0px 25px;
    }
    .slick-slide img {
        width: 340px;
        height: 230px;
    }
    .menu_btn img{
        height: auto;
        width: 75%;
    }

/*--------------------------------------------------------------------------------------------------------------
--------------------------------------Food.ejs & Drink.ejs & Limited.ejs----------------------------------------
--------------------------------------------------------------------------------------------------------------*/
    .menu{
        padding-left: 30px;
        padding-right: 30px;
    }
    .menu h1 {
        margin-left: 50px;
        margin-right: 50px;
    }

/*--------------------------------------------------------------------------------------------------------------
-----------------------------------------------------access.ejs-------------------------------------------------
--------------------------------------------------------------------------------------------------------------*/
.post{
    margin-left: 50px;
    margin-bottom: 10px;
}
.address{
    margin-left: 85px;
    margin-bottom: 30px;
}
}